<launch>
  <arg name="align_depth"       default="true"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="$(arg align_depth)"/>
  </include>
  <node name="camera_data_processor" pkg="ahold_product_detection" type="process_rgbd.py" output="screen"/>
  <node name="product_detector" pkg="ahold_product_detection" type="predict.py" output="screen"/>
</launch>