<launch>
  <arg name="align_depth"       default="true"/>
  <arg name="enable_pointcloud"       default="true"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="$(arg align_depth)"/>
    <arg name="enable_pointcloud" value="$(arg enable_pointcloud)"/>
  </include>

  <node name="product_detector" pkg="ahold_product_detection" type="predict.py" output="screen"/>
</launch>
