<launch>
  <arg name="align_depth"       default="true"/>
  <arg name="filters"           default="pointcloud"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="$(arg align_depth)"/>
    <arg name="filters"     value="$(arg filters)"/>
  </include>
  <node name="rgbd_processor" pkg="ahold_product_detection" type="process_rgbd.py" output="screen"/>
  <node name="product_detector" pkg="ahold_product_detection" type="predict.py" output="screen"/>
  <node name="product_broadcaster" pkg="ahold_product_detection" type="product_broadcaster.py" output="screen"/>
  <node name="broadcaster_detected_products" pkg="ahold_product_detection" type="read_tf2_transforms.py" output="screen"/>
</launch>